@model ScouTeams.Models.FunctionInOrganization

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Na pewno chcesz odebrać tę funkcję?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunctionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunctionName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FunctionInOrganizationId" />
        <input type="submit" value="Odbierz" class="btn btn-danger" /> |
        <a asp-action="ShowAssignments" asp-controller="Home">Rezygnuj</a>
    </form>
</div>
