@model ScouTeams.Models.FunctionInOrganization

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>FunctionInOrganization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FunctionInOrganizationId" />
            <div class="form-group">
                <label asp-for="ScoutId" class="control-label"></label>
                <select asp-for="ScoutId" class="form-control" asp-items="ViewBag.ScoutId"></select>
                <span asp-validation-for="ScoutId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunctionName" class="control-label"></label>
                <select asp-for="FunctionName" class="form-control"></select>
                <span asp-validation-for="FunctionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChorągiewId" class="control-label"></label>
                <input asp-for="ChorągiewId" class="form-control" />
                <span asp-validation-for="ChorągiewId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HufiecId" class="control-label"></label>
                <input asp-for="HufiecId" class="form-control" />
                <span asp-validation-for="HufiecId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DruzynaId" class="control-label"></label>
                <input asp-for="DruzynaId" class="form-control" />
                <span asp-validation-for="DruzynaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZastepId" class="control-label"></label>
                <input asp-for="ZastepId" class="form-control" />
                <span asp-validation-for="ZastepId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
