@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie ScouTeams!</h1>
    <h2>
        W pasku nawigacyjnym znajdziesz podstrony z informacjami odnośnie swojego konta.
    </h2>
    <h3>
        Wciśnięcie słowa ScouTeams przeniesie Cię do obecnej strony. Jeśli chcesz zobaczyć Swoje składki, naciśnij słowo Składki.
        W zakładce Przydziały znajdziesz zastępy, do których należysz oraz struktury, w których posiadasz funkcje. 
        Jeżeli nie posiadasz żadnego przydziału, poproś przełożonego o dodanie. 
        Do przeglądu i edycji swoich danych osobowych lub szczegółów dotyczących konta, np. zmiany hasła, służy zakładka z Twoim adresem e-mail. 
    </h3>
    <p>Aplikacja ta została stworzona przez Pawła Puczyłowskiego w ramach pisania pracy inżynierskiej.</p>
    <p>
        System powstał na Wydziale Informatyki Politechniki Białostockiej.
    </p>
</div>
