@model IEnumerable<ScouTeams.ViewModels.Assignment>

@{
    ViewData["Title"] = "ShowAssignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { myAssignment = item/* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
