@model ScouTeams.Models.Meeting

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeetingId" />
            <input type="hidden" asp-for="ZastepId" />
            <input type="hidden" asp-for="ScoutId" />

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" data-date-format="dd/MM/yyyy HH:mm" type="datetime" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Wróć", "Index", new { OrganizationId = ViewData["OrganizationID"], type = ViewData["OrganizationType"] })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
