@model ScouTeams.Models.Hufiec

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Na pewno chcesz rozwiązać hufiec?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Choragiew)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Choragiew.ChoragiewId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="HufiecId" />
        <input type="submit" value="Rozwiąż" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="ChoragiewId">Wróć</a>
    </form>
</div>
